<script type="text/x-template" id="eddbk-wizard-template">
    <div class="edd-booking-wizard">
    <form-wizard :title="_('Book an Appointment')"
                 subtitle=""
                 :nextButtonText="_('Next')"
                 :backButtonText="_('Back')"
                 :finishButtonText="_('Finish')"
                 color="#17a7dd"
    >
        <tab-content :before-change="isServiceStepReady" v-if="!config.service">
            <service-step v-model="service"></service-step>
        </tab-content>
        <tab-content :before-change="isSessionStepReady">
            <session-step v-model="session" :timezone="timezone" :service="service"></session-step>
        </tab-content>
        <tab-content>
            <confirmation-step :timezone="timezone" :service="service" :session="session"></confirmation-step>
        </tab-content>

        <template slot="footer" scope="{activeTabIndex, prevTab, isLastStep, nextTab, fillButtonStyle}">
            <div class="wizard-footer-left" v-if="!config.service && service && activeTabIndex === 0">
                <div>{{ serviceInfo.pricePreview }}</div>
                <div style="opacity: .6" v-if="serviceInfo.isOtherSessionsAvailable">
                    {{ _('More appointment durations available in the next step.') }}
                </div>
            </div>

            <div class="wizard-footer-clear" style="color: red" v-if="errorMessage">
                {{ errorMessage }}
            </div>

            <div class="wizard-footer-right">
                <wizard-button v-if="activeTabIndex > 0"
                               @click.native="prevTab()"
                               class="wizard-footer-back"
                               :style="fillButtonStyle">
                    {{ _('Back') }}
                </wizard-button>

                <wizard-button @click.native="isLastStep ? createBooking() : nextTab()"
                               :class="['wizard-footer-right', isLastStep ? 'finish-button' : '']"
                               :style="fillButtonStyle"
                               :disabled="isCreatingBooking ? 'disabled' : false"
                >
                    <span v-if="!isCreatingBooking">{{ isLastStep ? _('Book Now') : _('Next') }}</span>
                    <span class="eddbk-loading-inline eddbk-loading-inline--clean" v-else></span>
                </wizard-button>
            </div>
        </template>
    </form-wizard>
</div>
</script>