<script type="text/x-template" id="eddbk-confirmation-step-template">
    <div v-if="service && appointment">
        <div class="edd-booking-wizard__info">
            <p v-html="_('You are booking: <strong>%(service)s</strong> - %(duration)s appointment', appointment)"></p>
            <p v-html="_('Starting at <strong>%(start)s</strong>', appointment)"></p>
            <p style="margin-bottom: 0" v-html="_('The price is of <strong>%(price)s</strong>', appointment)"></p>
        </div>

        <div class="inline-form-control">
            <label>{{ _('Additional notes') }}</label>
            <textarea
                    rows="4"
                    v-model="valueProxy"
                    class="eddb-control"
                    :placeholder="_('Have you got any special requests for the service provider? If yes, please note them down here')"
            ></textarea>
        </div>
    </div>
</script>